{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-sm border-0 p-4 text-center">

        <h3 class="fw-bold mb-3 text-success">
          Email confirmado ✔
        </h3>

        <p>
          Tu correo ha sido verificado correctamente.
        </p>

        <p class="text-muted">
          Ahora puedes iniciar sesión en tu cuenta.
        </p>

        <a href="{% url 'account_login' %}" class="btn btn-success mt-3 w-100">
          Iniciar sesión
        </a>

      </div>
    </div>
  </div>
</div>
{% endblock %}