    {% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-sm border-0 p-4">
        <h4 class="text-center mb-4 fw-bold">Restablecer contraseña</h4>

        {% if token_fail %}
          <p class="text-danger text-center">
            El enlace de restablecimiento no es válido o ya fue usado.
          </p>
          <div class="text-center mt-3">
            <a href="{% url 'account_reset_password' %}" class="btn btn-success">
              Solicitar nuevo enlace
            </a>
          </div>
        {% else %}
          <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success w-100 mt-3">Guardar nueva contraseña</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
